body {
    background-color: rgb(255, 219, 122);
    font-family: 'Noto Serif JP', serif;
}

nav {
    background-color: rgba(255, 127, 8, 0.5);
    filter: drop-shadow(10px 10px 10px rgba(112, 101, 101, 0.4));
}

