body {

    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-weight: bold;
}

.container {
    max-width: inherit;
    height: 100vh;
    position: relative;

}

.container-inner {
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background: rgba(255, 255, 255, 0.38);
    position: absolute;
    margin: auto 716px;

    
}

.container::before {
    position: absolute;
    content: "";
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
}

nav {
    background-color: rgb(111, 216, 255);
}

.nav-link.disabled {
    color: rgb(0, 0, 0)
}

.nav-link {
    color: rgb(0, 0, 0)
}


.bounce {
    display: flex;
    align-items: flex-end;
}

form {
    width: 350px;
    text-align: center;
    margin: 0 auto;
    position: relative;

}

#exampleInputEmail1 {
    height: 50px;
}


#exampleInputPassword1 {
    height: 50px;
}

.btn {
    margin: 1em;
    padding: 12px 48px;
}