body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    height: 100vh;
}



#layer {
    position: relative;

}

#background {
    position: absolute;
}

nav {
    background-color: rgb(111, 216, 255);
}

.nav-link.disabled {
    color: rgb(0, 0, 0)
}

.nav-link {
    color: rgb(0, 0, 0)
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transform-origin: center top;
    transform: scaleY(0);
    backface-visibility: hidden;
}

.bounce {
    display: flex;
    align-items: flex-end;
}

#exampleInputEmail1 {
    height: 50px;
}


#exampleInputPassword1 {
    height: 50px;
}

.btn {
    margin: 1em;
    padding: 12px 48px;
}

h2 {
    font-size: 24px;
}

header .nav {
    margin-bottom: 1em;
}

.title {
    margin: 0 auto;
    padding: 10px 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.heading {
    margin: 10px 0
}

.title0 .heading {
    position: relative;
    padding-left: 30px;
}

.title0 .heading:before,
.title0 .heading:after {
    content: "□";
    position: absolute;
    width: 4px;
    height: 4px;
}

.title0 .heading:before {
    left: 0;
    top: -3px;
}

.title0 .heading:after {
    left: 5.5px;
    top: 3.5px;
}

.today {
    background-color: rgba(148, 224, 255, 0.48);
}

.other {
    background-color: rgba(148, 224, 255, 0.48);

}

.col-xl-3.offset-xl-1 {
    margin-left: 1em;
}
