body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    height: 100vh;
    background-color: rgb(235, 235, 235);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container p {
    color: red;
    font-size: 26px;
}

.container.input {
    background-color: white;
}

.container.input {
    background-color: white;
}

#layer {
    position: relative;
}

#background {
    position: absolute;
}

nav {
    background-color: rgb(111, 216, 255);
}

.nav-link.disabled {
    color: rgb(0, 0, 0)
}

.nav-link {
    color: rgb(0, 0, 0)
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transform-origin: center top;
    transform: scaleY(0);
    backface-visibility: hidden;
}

.bounce {
    display: flex;
    align-items: flex-end;
}

#exampleInputEmail1 {
    height: 50px;
}

#exampleInputPassword1 {
    height: 50px;
}


h2 {
    font-size: 24px;
}

.text {
    font-size: 36px;
}

header .nav {
    margin-bottom: 1em;
}

.main-content {
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
}

.sidebar-content {
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
}

.cross_mark {
    margin-left: 1em;
}

.alert-danger {
    display: none;
}

/*カレンダー*/

#clndr {
    text-align: center;
    cursor: default;
}

.clndr-controls {
    display: flex;
    font-size: 12px;
    height: 16px;
}

.clndr-control-button {
    width: 30%;
}

.clndr-previous-button,
.clndr-next-button {
    width: 100%;
    cursor: pointer;
    display: block;
    transition: all .2s ease;
    color: rgb(0, 0, 0);
}

.clndr-previous-button:hover,
.clndr-next-button:hover {
    background-position: 20% 20%;
    background-size: 200% 200%;
    color: rgb(167, 155, 255);
}

.month {
    width: 40%;
}

.clndr-table {
    width: 100%;
}

table thead tr td {
    line-height: 40px;
    text-align: center;
    background-color: #7fffd4;
}

table tr .adjacent-month .day-contents {
    display: none;
}

#clndr td:first-child {
    color: red;
}

#clndr td:last-child {
    color: blue;
}

.day-contents {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    height: 36px;
    width: 36px;
}

.today .day-contents {
    color: #fff;
    background-color: #ff4500;
    border-radius: 50%;
}

.cross_mark {
    margin-left: 1em;
}

.errors ul {
    display: none;
}

/* 統計ページ　ここから */

.page-div {
    margin: 15px auto;
    background-color: rgb(255, 255, 255);
}

.page-div h1 {
    color: rgb(54, 78, 150);
    /*文字色*/
    padding: 0.5em 0;
    /*上下の余白*/
    border-top: solid 3px rgb(54, 78, 150);
    /*上線*/
    border-bottom: solid 3px rgb(54, 78, 150);
    /*下線*/
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    text-align: center;
}

.page-div h3 {
    padding: 0.25em 0.5em;
    /*上下 左右の余白*/
    color: rgb(54, 78, 150);
    /*文字色*/
    background: transparent;
    /*背景透明に*/
    border-left: solid 5px #7db4e6;
    /*左線*/
    border-bottom: solid 3px rgb(81, 106, 182);
}

.content-div {
    padding: 15px;
    margin-top: 30px;
    background-color: rgb(234, 243, 255);
}

.content-div-last {
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(234, 243, 255);
}

@media screen and (min-width: 604px) and (max-width: 786px) {
    .page-div h1 {
        font-size: 28px;
    }

    .page-div h3 {
        font-size: 28px;
    }
}

@media screen and (min-width: 0px) and (max-width: 603px) {
    .page-div h1 {
        font-size: 20px;
    }

    .page-div h3 {
        font-size: 20px;
    }
}

/* 統計ページ　ここまで */

/* 月初入力ページ　ここから */
.monthlyInput-div {
    background-color: rgb(255, 255, 255);
}

h3 {
    padding: 0.25em 0.5em;
    /*上下 左右の余白*/
    color: rgb(54, 78, 150);
    /*文字色*/
    background: transparent;
    /*背景透明に*/
    border-left: solid 5px #7db4e6;
    /*左線*/
    border-bottom: solid 3px rgb(81, 106, 182);
    margin: 15px auto;
}
}

.monthlyInput-div h3 {
    padding: 0.25em 0.5em;
    /*上下 左右の余白*/
    color: rgb(54, 78, 150);
    /*文字色*/
    background: transparent;
    /*背景透明に*/
    border-left: solid 5px #7db4e6;
    /*左線*/
    border-bottom: solid 3px rgb(81, 106, 182);
    margin: 15px auto;
}

.inner-div {
    background-color: rgb(234, 243, 255);
    margin-bottom: 30px;
    padding: 15px;
}

/* 月初入力ページ　ここまで */

/* 固定長ページ　ここから */
.payment-div {
    background-color: rgb(255, 255, 255);
}

.payment-div h3 {
    padding: 0.25em 0.5em;
    /*上下 左右の余白*/
    color: rgb(54, 78, 150);
    /*文字色*/
    background: transparent;
    /*背景透明に*/
    border-left: solid 5px #7db4e6;
    /*左線*/
    border-bottom: solid 3px rgb(81, 106, 182);
    margin: 15px auto;
}

.payment-inner-div {
    background-color: rgb(234, 243, 255);
    margin-bottom: 30px;
    padding: 15px;
}

/* 固定費ページ　ここまで */
